extends layout

block content

	button(id="saveButton", type="button", class="btn saveButton btn-primary", data-loading-text="saving...") save
	div(class="make-switch", id="CodeGUISwitch", data-on="info", data-off="success", data-on-label="Code", data-off-label="GUI")
		input(type="checkbox", checked)
	div(id="myCarousel", class="carousel slide")
		div(class="carousel-inner")
			div(id="GUI", class="item")
			div(id="code", class="item active")

	script(src="/socket.io/socket.io.js")

	link(rel='stylesheet', href="js/libs/codemirror/lib/codemirror.css", charset='utf-8', media='screen')
	script(src="js/libs/codemirror/lib/codemirror.js")
	link(rel='stylesheet', href="js/libs/codemirror/doc/docs.css", charset='utf-8', media='screen')
	script(src="js/libs/codemirror/mode/javascript/javascript.js")
	script(src="js/libs/codemirror/keymap/extra.js")
	
	link(rel='stylesheet', href='/css/style.css', media='screen', charset='utf-8')
	link(rel='stylesheet', href='/css/editor.css', media='screen', charset='utf-8')
	script(src="js/editor/codeParser.js")
	script(src="js/editor/listener.js")
	script(src="js/display/rtcManager.js")
	script(src="js/libs/communicationManager.js")
	script(src="js/composer/utils.js")
	script(src="js/editor/editorApp.js")

