extends layout

block content
	div(id="app")

	link(rel='stylesheet', href='/css/style.css', media='screen', charset='utf-8')
	link(rel='stylesheet', href='/css/monitor.css', media='screen', charset='utf-8')
	script(src="/socket.io/socket.io.js")

	script(src="js/monitor/monitorApp.js")
	script(src="js/composer/listener.js")
	script(src="js/composer/utils.js")