doctype 5
html
	head
		title="TweakerVJ"
		link(rel='stylesheet', href='/css/lib/flat-ui.css', media='screen', charset='utf-8')
		link(rel='stylesheet', href='/css/lib/bootstrap.min.css', media='screen', charset='utf-8')
		link(rel='stylesheet', href='/css/lib/slider.css', media='screen', charset='utf-8')
		script(src="js/libs/jquery-1.9.1.js")
		script(src="js/libs/bootstrap.min.js")
		script(src="js/libs/jquery-ui-1.10.3.custom.js")
		script(src="js/libs/bootstrap-slider.js")
		script(src="js/libs/AnimationLoader.js")
		script(src="js/libs/easyrtc.js")
		script(src="js/libs/Tools.js")
		script(src="js/libs/components.js")
		script(src="js/libs/logger.js")
		script(src="js/libs/styleManager.js")
		script(src="js/libs/GlobalGUI.js")
	body
		block content